<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BWSSB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BWSSB.Properties.Settings.BWSSBConnectionString" connectionString="Data Source=192.168.1.225;Initial Catalog=BWSSB;Persist Security Info=True;User ID=Enviro;Password=Enviro1@!@#$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BWSSB.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FaultyFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeHrs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Timex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileHrs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TriggerHr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TriggerMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TriggerChk" serializeAs="String">
                <value />
            </setting>
            <setting name="CompName" serializeAs="String">
                <value />
            </setting>
            <setting name="FromDt" serializeAs="String">
                <value />
            </setting>
            <setting name="ToDt" serializeAs="String">
                <value />
            </setting>
            <setting name="Status" serializeAs="String">
                <value />
            </setting>
            <setting name="MAC" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value />
            </setting>
        </BWSSB.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
